# Ignore source and exports file
exports/el7/
exports/el8/
exports/el9/
src/

#Ignore RPMBUILD sources and srpms
el7/rpmbuild/BUILD/
el7/rpmbuild/SOURCES/
el7/rpmbuild/SRPMS/
el8/rpmbuild/BUILD/
el8/rpmbuild/SOURCES/
el8/rpmbuild/SRPMS/
el9/rpmbuild/BUILD/
el9/rpmbuild/SOURCES/
el9/rpmbuild/SRPMS/
