Package: jobarranger-agentd-dbgsym
Source: jobarranger
Version: 6.1.1-1+debian11
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Daiwa Institute of Research Business Innovation Ltd.
Installed-Size: 299
Depends: jobarranger-agentd (= 6.1.1-1+debian11)
Section: debug
Priority: optional
Description: debug symbols for jobarranger-agentd
Build-Ids: 10bd3883da34bcbecb855c9378b0b6fd2f5dc231 3fbb09ce6e7c75be00dd1c58234ed2db0ec47a03
